{% extends 'layout.template.html' %}

{% block content %}
<h1>Create Members</h1>
<form method="POST">

  <div class="form-group">
    <label>이름</label>
    <input type="text" class="form-control" name="member-name">
  </div>

  <div class="form-group">
    <label>별명</label>
    <input type="text" class="form-control" name="nickname">
  </div>

  <div class="form-group">
    <label>포지션</label>
    <input type="text" class="form-control" name="position">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock%}