{% extends 'layout.template.html' %}

{%block content%}
<a href="{{url_for('create_employee')}}" class="btn btn-primary">Crearw New </a>
<table class="table">
    <thead>
        <tr>
            <th scope="row">Name</th>
            <th scope="row">Title</th>
            <th scope="row">Salary</th>
            <th></th>
        </tr>
    </thead>
	<tbody>
    {% for e in employees %}
		<tr>
			<td>{{e.employee_name}}</td>
            <td>{{e.job_title}}</td>
            <td>{{e.salary}}</td>
            <td><a class="btn btn-primary btn-sm" href="{{ url_for('update_employee', employee_id=e.id) }}">Edit</a></td>
		</tr>
    {% endfor %}
    </tbody>
</table>
{%endblock%}