{% extends 'layout.template.html' %}

{%block title%}
Book A Room
{%endblock%}

{%block content%}
<h1>Book a room</h1>
<form method="POST">


    <div class="form-group">
        <label>First Name</label>
        <input class="form-control" type="text" name="first-name">
    </div>


    <div class="form-group">
        <label>Last Name</label>
        <input class="form-control" type="text" name="last-name">
    </div>


    <div class="form-group">
        <label>Comments</label>
        <textarea class="form-control" name="comments"></textarea>
    </div>


    <div class="form-group">
        <label>Room Type</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="room-type" id="exampleRadios1" value="suite" checked>
            <label class="form-check-label" for="exampleRadios1">Suite</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="room-type" id="exampleRadios2" value="deluxe">
            <label class="form-check-label" for="exampleRadios2">Deluxe</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="room-type" id="exampleRadios3" value="premium">
            <label class="form-check-label" for="exampleRadios3">Premium</label>
        </div>
    </div>


    <div class="form-group">
        <label>Amenities</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="amenities" value="paid-wifi" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">Paid Wifi</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="amenities" value="laundry-service" id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck2">Laundry Service</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="amenities" value="gym" id="defaultCheck3">
            <label class="form-check-label" for="defaultCheck3">Gym</label>
        </div>
    </div>


    <div class="form-group">
        <label>Check-In Timing</label>    
        <select class="form-control" name="check-in-timing">
            <option value="morning">Morning</option>
            <option value="afternoon">Afternoon</option>
            <option value="evening">Evening</option>
            <option value="night">Night</option>
        </select>
    </div>

    <input type="submit" class="btn btn-primary" value="Submit">


</form>
{%endblock%}