{%extends 'layout.template.html'%}

{%block content%}
<h1>Create Employees</h1>
<form method="POST">

    <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="employee-name">
    </div>

    <div class="form-group">
        <label>Job Title</label>
        <input class="form-control" type="text" name="job-title">
    </div>

    <div class="form-group">
        <label>Salary</label>
        <input class="form-control" type="text" name="salary">
    </div>

    <input type="submit" class="btn btn-primary" value="Submit">
</form>
{%endblock%}
